.popup__container {
    position: relative;
    margin: auto;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 3%;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 720px){
    .popup__container {
        width: 282px;
        height: 322px;
        padding: 25px 22px;
    }
}